/*Heading*/
.page-heading {
    font-family: "Raleway", sans-serif;
    padding: 2em;    
    text-align: center;    
    background: linear-gradient(180deg, #03072b 0%, #1A1E23 100%);
	border: 2px solid #00B9D1;
	border-radius: 15px;
}
.page-heading h1 {
    font-size: 3em;
    margin: .3em;
	color: white;
    text-shadow: 
        	 0 0 10px #00B9D1,
        	 0 0 20px #00B9D1,
       		 0 0 50px #00B9D1,
       		 0 0 100px #00B9D1,
       		 0 0 200px #00B9D1;
}


.page-heading img{
width:337px;
height:75px;
/*margin: 0 0 0 10em;
display: inline-block;
vertical-align: middle;
float:left;*/
}



/*body*/
body{
	background-color:#1A1E23
}

/*Nav*/
nav {   
    margin: 0;
    padding: 0;    
    font-family: "Raleway", sans-serif;
    background-color: #00B9D1;
    margin-bottom: 2em;
    border:2px solid #1A1E23;
    border-radius: 10px;
    display: flex;
}

nav a {
    display:block;
    color: #1A1E23;
    text-align: center;
    padding: 14px 16px; 
    text-decoration:none   
}

nav a:hover {
    text-decoration: underline;
    color:white;
	background-color:#1A1E23;	
	border-radius: 10px;

}

a.right {    
     margin-left: auto;
}

/*aside section*/
aside {
	float:left;
	border-right: 2px solid #00B9D1;
    padding: 0 30px;
	font-family: "Raleway", sans-serif;
    margin: 10px;
    margin-left: 10px;
	width:150px;
	height:600px;
}
aside h2 {
	color:#aac2d6;
    font-weight:normal;
    text-decoration: none;
}
aside p {
	color:#aac2d6;
    font-weight:normal;
    text-decoration: none;
}

/*main*/
section{
  

}

.mainSectiondiv {
	color:white;
	font-family: "Raleway", sans-serif;
/*margin-top:45px;*/
	margin-left: 35px;
 	width:950px;
    float:left;
}






/*footer*/
footer {  
	clear:both; 
    font-family: "Raleway", sans-serif;
    text-align: left;
    background: #00B9D1;
    color: #1A1E23;
    border:2px solid #1A1E23;
	border-radius: 5px;
}

footer p{
margin:5px;

}